/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
   /*<!--style stuyff-->*/
   html, body {
    background-image: url('Attachments/stars.gif');
    color: white;
    font-family: "NovaMono";
    }
    img {
      display: block;
      margin: auto auto;
      max-width: 92%;
      height: auto;
    } 
    a{
      color: turquoise;
    }
    hr{
      border: 1.75px solid white;
      width: 100%;
    }
    h1{
      font-size: 350%;
      font-weight: 300;
      margin: 2%;
      padding: 0% 1.1%;
    }
    p{
      font-size: 250%;
      margin: 2%;
      padding: 0% 1.1%;
      text-align: justify;
    }
.marker{
  border: 7px;
  border-style: solid;
  border-color: #ff69b4;
}
.Border{
  border: 4px;
  border-radius: 15px;
  border-style: solid;
}
.SiteTitle{
  text-align: center;
  margin: .5% auto;
  margin-left: 0%;
  font-size: 450%; 
  font-family: "Panic";
  color: white;
}
.BlinkiesBlock{
  display: flex;
  flex-flow: row wrap;
}
.RecentVideo{
  width: 100%;
  height: 400px;
}
.PostsBlock{
  margin: 10px 15px;
}
.PostImageBlock{
  margin: auto auto;
  margin-top: 8%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 28px;
}
/* This is for mobile/smaller screens */
@media only screen and (max-width: 650px) {
  .ContainerBox{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2.5%;
    width: 90%;
    margin: auto;
  }
  .LeftBox{
    display: none;
  }
  .NavbarMobile{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .MidBox{
    line-height: 225%;
    width: 100%;
  }
  .RightBox{
    width: 100%;
    display: none;
  }
}
/* This is for laptops/desktops */
@media only screen and (min-width: 651px) {
  .ContainerBox{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 2.5%;
    width: 60%;
    margin: auto;
    margin-left: 20%;
  }
  .LeftBox{
    width: 13%; 
    min-width: 95px;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    gap: 20px;
  }
  .MidBox{
    line-height: 225%;
    width: 65%;
    min-width: 400px;
  }
  .RightBox{
    width: 15%;
    height: fit-content;
    display: none;
  }
  .NavbarMobile{
    display: none;
  }
  .ProfPic{
    max-width: 96%;
    max-height: 96%;
  }
}
